.Food-Item-Card{
    display: flex;
    height: 10%;
    width: 20%; 
    justify-content:space-around;
    align-items: center;
}
.Food-Item,
input, 
.Food-Checkbox-Item{
    display: flex;
    height: 50%;
    width: 50%; 
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content:center;
}